<div id="container">
	Comment by <%= comment.author_name %> :
	<div id="<%= comment.id %>" style=" margin: 0 60px;">
		<h5><%= comment.body %></h5>
		<br>
	</div>
	Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later
	<br>
</div>