$primary_color: #AAA;

body {
  /*background-color: $primary_color;*/
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px #223447;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #F9F5F5;
  box-shadow: 8px 8px 12px #557;
}

#content {
  clear: both;
  padding-top: 20px;
  text-align: center;
}

#button{
  border          : solid 1px #223447;
  box-shadow      : 2px 3px 5px #557;
  padding         : 4px 11px 4px 11px;
  border-radius   : 1.2em;
  background-image: #557;
  color           : #999;
  text-decoration : none;
}

#button:hover{
  background: linear-gradient(#42678D, #223447);
  color: #FFF;
}